<h4>Submit New Drug for Approval</h4>
<form role="form">
    <div class="form-group">
        <label for="drugName"> Drug Name</label>
        <input id="drugName" class="form-control" rows="3" required>
        <label for="drugPrice">Drug Price</label>
        <input id="drugPrice" class="form-control" rows="3" required>
        <label for="drugQA">Qty Available </label>
        <input id="drugQA" class="form-control" rows="3" required>
    </div>
    <button type="submit" class="btn btn-success float-right">Submit</button>
</form>